[submodule "BlockchainAPI"]
	path = BlockchainAPI
	url = https://github.com/NicholasSch/BlockchainAPI
[submodule "Music-Streaming-API"]
	path = Music-Streaming-API
	url = https://github.com/NicholasSch/Music-Streaming-API.git
[submodule "Unity"]
	path = Unity
	url = https://github.com/NicholasSch/Unity.git
